  /* Styles global */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
    text-decoration: none;
    color: #ffffff;
    scroll-behavior: smooth;
  }

  /* Styles variáveis */
  :root {
    --cor-principal: #1e90ff;
    --cor-secundaria: #222e4e;
    --cor-textos: #ffffff;
    --cor-secundaria-textos: #bbb;
    --cor-fundo: #0a0a0a;

    /* Cores redes sociais */
    --cor-linkedin: #0077b5;
    --cor-github: #333;
    --cor-email: #ea4335;
    --cor-whatsapp: #25d366;
  }

  /* Styles body */
  body {
    position: relative;
    background: var(--cor-fundo);
  }

  /* Styles seção */
  .secao {
    padding: 100px 5%;
  }

  /* Styles fundo body */
  .video-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    width: 100%;
    height: 100%;

    z-index: -1;
    opacity: 0.2;
    object-fit: cover;
  }

  /* Styles header */
  header {
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    padding: 10px;
    z-index: 100;
    transition: 0.5s;
  }

  /* Styles header com efeito rolagem */
  header.rolagem-header {
    background-color: var(--cor-secundaria);
  }

  /* Styles nav desktop */
  .nav-desktop {
    display: flex;
    justify-content: center;
    padding: 8px 5%;
  }

  .nav-desktop ul {
    display: flex;
    align-items: center;
    gap: 50px;
  }

  .nav-desktop ul li a {
    padding: 12px 24px;
    font-weight: bold;
    color: var(--cor-textos);
    background: linear-gradient(135deg, var(--cor-principal), #4d7cfe);
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  }

  /* Styles botão menu mobile */
  .btn-menu-mobile {
    cursor: pointer;
  }
  .btn-menu-mobile div {
    height: 3px;
    margin: 10px 0;

    background-color: var(--cor-secundaria);
    transition: 0.3s;
  }

  /* Styles linhas menu mobile */
  .btn-menu-mobile {
    display: none;
  }

  .btn-menu-mobile .line-menu-mobile-1 {
    width: 30px;
  }

  .btn-menu-mobile .line-menu-mobile-2 {
    width: 20px;
  }

  .btn-menu-mobile .line-menu-mobile-1.active1 {
    transform: rotate(45deg) translate(30%);
  }

  .btn-menu-mobile .line-menu-mobile-2.active2 {
    transform: rotate(-45deg) translate(30%);
    width: 30px;
  }

  /* Styles nav mobile */
  .nav-mobile {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 0;

    width: 0;
    height: 0;

    text-align: center;
    background-color: var(--cor-secundaria);
    overflow: hidden;
    transition: 0.5s;
  }

  /* Styles body com overflow */
  body.overflow-no {
    overflow: hidden;
  }

  /* Styles nav mobile aberto */
  .nav-mobile.abrir-menu {
    width: 100%;
    height: 100vh;
  }

  .nav-mobile ul {
    width: 100%;
  }

  .nav-mobile a {
    display: block;
    font-size: 18px;
    font-weight: 500;
    padding: 20px 0;
    transition: 0.5s;
  }

  .nav-mobile a:hover {
    box-shadow: 0 0 8px var(--cor-secundaria);
    background-color: var(--cor-secundaria);
    color: var(--cor-fundo);
  }

  /* Styles botão topo */
  .btntopo {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    position: fixed;
    right: 20px;
    bottom: 70px;

    z-index: 100;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;

    border: none;
    border-radius: 50%;
    background-color: transparent;
  }

  .btntopo.active {
    opacity: 1;
    visibility: visible;
  }

  .btntopo i {
    font-size: 2.5rem;

    color: var(--cor-principal);
    border-radius: 50%;
  }

  /* Styles imagem */
  img {
    width: 500px;
    height: 78vh;
    border-radius: 0%;
    overflow: hidden;
    box-shadow: 0 0 0px #00009C;
  }

  /* Styles seção principal */
  .principal {
    display: flex;
    align-items: center;
    justify-content: space-between;

    min-height: 110vh;
    margin: 0 10%;
  }

  .redes-sociais {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-bottom: 20px;
  }

  .redes-sociais a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  .redes-sociais a i {
    font-size: 25px;
    color: var(--cor-principal);
  }

  .principal h1 {
    font-size: 48px;
    line-height: 1;
    margin-bottom: 20px;
    letter-spacing: -5px;
  }

  .principal h1 span {
    color: var(--cor-principal);
  }

  .principal p {
    font-size: 17px;
    margin-bottom: 20px;
    max-width: 500px;
    color: var(--cor-secundaria-textos);
  }

  .principal p span {
    font-weight: bold;
    color: var(--cor-principal);
  }

  .img-principal img {
    display: none;
  }

  .img-principal img {
    mask-image : linear-gradient(to bottom, #000000 25%, rgba(0, 0, 0, 0.01) 100%);
  }

  /* Animação imagem */
  .img-principal img {
    animation: flutuante 5s ease-in-out infinite;
  }

  /* Animação flutuante */
  @keyframes flutuante {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(15px);
    }

    100% {
      transform: translateY(0);
    }
  }

  .btn-link {
    display: inline-block;
    padding: 12px 30px;
    font-weight: bold;
    border-radius: 4px;
    background-color: var(--cor-principal);
  }

  /* Styles titulo seção */
  .titulo-secao {
    font-size: 30px;
    margin-bottom: 60px;
    position: relative;
  }

  .titulo-secao::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 80px;
    height: 3px;
    background-color: var(--cor-principal);
  }

  /* Styles seção projetos */
  .grade-projetos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
  }

  .img-projeto {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 15px;
    border-radius: 10px;
  }

  .card-projeto {
    border-radius: 10px;
    background-color: var(--cor-secundaria);
    overflow: hidden;
  }

  .info-projeto {
    padding: 20px;
  }

  .info-projeto h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .info-projeto p {
    font-size: 15px;
    color: var(--cor-secundaria-textos);
    margin-bottom: 15px;
  }

  .link-projeto {
    display: flex;
    justify-content: space-around;
  }

  .info-projeto a {
    display: inline-block;
    padding: 8px 20px;

    color: var(--cor-textos);
    background-color: #4d7cfe33;

    box-shadow: 2px 2px 1px var(--cor-principal);
    border-radius: 4px;
  }

  /* Styles seção sobre */
  .sobre {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    align-items: center;

    max-width: 1200px;
  }

  .img-sobre {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .conteudo-sobre h2 {
    margin-bottom: 20px;
  }

  .conteudo-sobre p {
    color: var(--cor-secundaria-textos);
    margin-bottom: 10px;
  }

  .habilidades {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;

    cursor: default;
  }

  .tag-habilidades {
    font-size: 14px;
    font-weight: 500;

    padding: 8px 15px;
    margin: 0 10px 10px 0;

    border-radius: 5px;
    color: var(--cor-textos);
    background-color: var(--cor-secundaria);
  }

  /* Styles seção contato */
  .botoes-contatos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
  }

  .botao-contato {
    display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  font-weight: bold;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  }

  .linkedin {
    background-color: var(--cor-linkedin);
  }

  .github {
    background-color: var(--cor-github);
  }

  .whatsapp {
    background-color: var(--cor-whatsapp);
  }

  .email {
    background-color: var(--cor-email);
  }

  /* Styles footer */
  footer {
    text-align: center;
    padding: 20px 5%;
    border-top: solid 1px var(--cor-secundaria);
  }

  /* Responsividade */
  @media (max-width: 768px) {
    .nav-desktop {
      display: none;
    }

    .btn-menu-mobile {
      display: block;
    }

    .principal {
      margin: 115px 4% 0;
    }
  }

  @media (min-width: 900px) {
    .principal h1 {
      font-size: 58px;
    }

    .sobre {
      grid-template-columns: 1fr 1fr;
      gap: 80px;
    }
  }

  @media (min-width: 1280px) {
    .nav-desktop a:hover {
      background: linear-gradient(135deg, #4d7cfe, var(--cor-principal));
      transform: scale(1.05);
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    }

    /* Styles header com efeito rolagem */
    header.rolagem-header a {
      color: var(--cor-secundaria);
    }

    .principal h1 {
      font-size: 65px;
    }

    .principal p {
      font-size: 18px;
      margin-bottom: 25px;
      max-width: 600px;
    }

    .efeito-transform {
      transition: 0.5s;
    }

    .efeito-transform:hover {
      transform: translateY(-5px);
    }

    .img-principal img {
      display: block;
    }
  }
